<div class="featured-container-flex">
<h2 class="sr-only">Featured Collections</h2>
<div class="list-group list-group-striped" id="featured_works">

<%
=begin%>
  Item 1
<%
=end%>

<div class="featured-item-block">
  <div class="featured-item-title">
    <div class="featured-image-header">
        <%= image_tag "Features/GPS-1.jpg", alt: "Great Problems Seminar" %>
    </div>
    <h2 class="featured-item-title">  
        <a href="/catalog?f[member_of_collection_ids_ssim][]=gps">GREAT PROBLEMS SEMINAR</a>
    </h2>
  </div>

  <div class="featured-field featured-item-description">
    <p>The Great Problems Seminar immerses first-year students into interdisciplinary, project-based university-level research, focused on some of the world's most critical challenges.</p> 
  </div>
  <h4>
      <a href="/catalog?f[member_of_collection_ids_ssim][]=gps">EXPLORE THE COLLECTION</a>
  </h4>
</div> 

<%
=begin%>
  Item 2
<%
=end%>

<div class="featured-item-block">
  <div class="featured-item-title">
    <div class="featured-image-header">
        <%= image_tag "Features/Dickens-1.jpg", alt: "Project Boz" %>
    </div>
    <h2 class="featured-item-title">  
        <a href="/catalog?f[member_of_collection_ids_ssim][]=sq87bv394">PROJECT BOZ</a>
    </h2>
  </div>

  <div class="featured-field featured-item-description">
    Project Boz presents English novelist Charles Dickens's novels in their original, serialized format, so the readers can experience the works as they were first presented to the world.
  </div>
  <h4>
      <a href="/catalog?f[member_of_collection_ids_ssim][]=sq87bv394">EXPLORE THE COLLECTION</a>
  </h4>
</div> 

<%
=begin%>
  Item 3
<%
=end%>

<div class="featured-item-block">
  <div class="featured-item-title">
    <div class="featured-image-header">
        <%= image_tag "Features/Historical-1.jpg", alt: "WPI Historical Images" %>
    </div>
    <h2 class="featured-item-title">  
        <a href="/catalog?f[member_of_collection_ids_ssim][]=hi">WPI HISTORICAL IMAGES</a>
    </h2>
  </div>

  <div class="featured-field featured-item-description">
    The WPI Historical Image Collection documents the rich visual history and activities of WPI's student, faculty, staff, administrators, traditions, and buildings from the 1860s to the present. More than 9,000 photos are available.
  </div>
  <h4>
      <a href="/catalog?f[member_of_collection_ids_ssim][]=hi">EXPLORE THE COLLECTION</a>
  </h4>
</div> 


</div>
</div>