<div class="featured-container-flex">
<h2 class="sr-only">Featured Projects</h2>
<div class="list-group list-group-striped" id="featured_works">

<%
=begin%>
  Item 1
<%
=end%>

<div class="featured-item-block">
  <div class="featured-item-title">
    <div class="featured-image-header">
        <%= image_tag "Features/GPS-1.jpg" %>
    </div>
    <h2 class="featured-item-title">  
        <a href="#">Great Problems Seminar</a>
    </h2>
  </div>

  <div class="featured-field featured-item-description">
    <p>The Great Problems Seminar immerses first-year students into interdisciplinary, project-based university-level research, focused on some of the world’s most critical challenges.</p> 
  </div>
  <h4>
      <a href="#">EXPLORE THE PROJECT</a>
  </h4>
</div> 

<%
=begin%>
  Item 2
<%
=end%>

<div class="featured-item-block">
  <div class="featured-item-title">
    <div class="featured-image-header">
        <%= image_tag "Features/Dickens-1.jpg" %>
    </div>
    <h2 class="featured-item-title">  
        <a href="#">PROJECT BOZ</a>
    </h2>
  </div>

  <div class="featured-field featured-item-description">
    Project Boz presents English novelist Charles Dickens's novels in their original, serialized format, so the readers can experience the works as they were first presented to the world.
  </div>
  <h4>
      <a href="#">EXPLORE THE PROJECT</a>
  </h4>
</div> 

<%
=begin%>
  Item 3
<%
=end%>

<div class="featured-item-block">
  <div class="featured-item-title">
    <div class="featured-image-header">
        <%= image_tag "Features/FPE-4.jpg" %>
    </div>
    <h2 class="featured-item-title">  
        <a href="#">FOUNDATIONS OF FIRE PROTECTION ENGINEERING</a>
    </h2>
  </div>

  <div class="featured-field featured-item-description">
    <p>Established in 1979, as the first graduate level Fire Protection Engineering (FPE) program in the world, today’s program combines multiple academic disciplines to ensure a smarter and safer world.</p> 
  </div>
  <h4>
      <a href="#">EXPLORE THE PROJECT</a>
  </h4>
</div> 


</div>
</div>