<div class='panel panel-default'>
    <div class="panel-heading">Search tips</div>
  <div class="panel-body">
    <b>Search Terms:</b><br/>
    <ul class="advanced-help">
      <li>Select "match all" to require all fields.
      </li>

      <li>Select "match any" to find at least one field.
      </li>

      <!-- <li>"Full text" option searches within document files.</li> -->

      <li>Use quotation marks to search as a phrase.

      <li>Use "+" before a term to make it required.
        (Otherwise results matching only some of your terms may be included).</li>

      <li>Use "-" before a word or phrase to exclude.</li>

      <li>Use "OR", "AND", and "NOT" to create complex boolean logic.
        You can use parentheses in your complex expressions.</li>
    </ul>
    <b>Attributes:</b><br/>
    <ul class="advanced-help">
      <li>Select 1 or more <b>Attributes</b> to create subset matching attributes</li>
      <li>Combine <b>Search Terms</b> and <b>Attributes</b> to filter search results</li>
    </ul>
  </div>
</div>