development:
  user: fedoraAdmin
  password: fedoraAdmin
  url:  <%= ENV['FEDORA_HOST'] || "http://127.0.0.1:#{ENV['FCREPO_DEVELOPMENT_PORT'] || 8984}/rest" %>
  base_path: /dev
test:
  user: fedoraAdmin
  password: fedoraAdmin
  url: <%= ENV['FEDORA_HOST'] || "http://127.0.0.1:#{ENV['FCREPO_TEST_PORT'] || 8986}/rest" %>
  base_path: /test
production:
  user: <%= ENV['FEDORA_USER'] %>
  password: <%= ENV['FEDORA_PASS'] %>
  url: <%= ENV['FEDORA_HOST'] %>
  base_path: /prod
  request: { timeout: 1000, open_timeout: 100} #increase timeout if solr reindex times out
