<h2 class="sr-only">Collections</h2>

<div id="search-results" class="facets sidenav">

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading" aria-expanded="true" data-toggle="collapse" data-target="#etds">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Electronic Theses and Dissertations</a>
      </h3>
    </div>
    <div id="etds" class="panel-collapse facet-content collapse in" aria-expanded="true" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=masters_report">Masters Reports</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=dissertation">PhD Dissertations</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=phd_report">PhD Reports</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading" aria-expanded="true" data-toggle="collapse" data-target="#gps">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Great Problems Seminar Posters</a>
      </h3>
    </div>
    <div id="gps" class="panel-collapse facet-content collapse in" aria-expanded="true" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=gps">Great Problems Seminar Posters</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading" aria-expanded="true" data-toggle="collapse" data-target="#iqp">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Interactive Qualifying Projects</a>
      </h3>
    </div>
    <div id="iqp" class="panel-collapse facet-content collapse in" aria-expanded="true" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=iqp">Interactive Qualifying Projects</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading" aria-expanded="true" data-toggle="collapse" data-target="#mqp">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Major Qualifying Projects</a>
      </h3>
    </div>
    <div id="mqp" class="panel-collapse facet-content collapse in" aria-expanded="true" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=mqp">Major Qualifying Projects</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading" aria-expanded="true" data-toggle="collapse" data-target="#masters">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Masters Theses</a>
      </h3>
    </div>
    <div id="masters" class="panel-collapse facet-content collapse in" aria-expanded="true" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=thesis">Masters Theses</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading" aria-expanded="true" data-toggle="collapse" data-target="#boz">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Project Boz</a>
      </h3>
    </div>
    <div id="boz" class="panel-collapse facet-content collapse in" aria-expanded="true" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=sq87bv394">Project Boz</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading" aria-expanded="true" data-toggle="collapse" data-target="#historical">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">WPI Historical Images Gallery</a>
      </h3>
    </div>
    <div id="historical" class="panel-collapse facet-content collapse in" aria-expanded="true" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=hi">Historical Images</a></span></li>
        </ul>
      </div>
    </div>
  </div>
  
</div>