<h2 class="sr-only">Collections</h2>

<div id="search-results" class="facets sidenav">

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#undergraduate">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Undergraduate Projects and Research</a>
      </h3>
    </div>
    <div id="undergraduate" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=gps">Great Problems Seminar Posters</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=iqp">Interactive Qualifying Projects</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=mqp">Major Qualifying Projects</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#graduate">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Graduate Theses, Dissertations, and Projects</a>
      </h3>
    </div>
    <div id="graduate" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=thesis">Masters Theses</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=masters_report">Masters Reports</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=dissertation">PhD Dissertations</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=phd_report">PhD Reports</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#faculty">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Faculty Research and Creative Work</a>
      </h3>
    </div>
    <div id="faculty" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="">Center for Project-Based Learning</a></span></li>
          <li><span class="facet-label"><a href="">Digitize This: Exploring/Exploiting the Rise of Digital Arts & Digital Humanities</a></span></li>
          <li><span class="facet-label"><a href="">Great Problems Seminar</a></span></li>
          <li><span class="facet-label"><a href="">Faculty Authors</a></span></li>
          <li><span class="facet-label"><a href="">Scholarship on PBL</a></span></li>
          <li><span class="facet-label"><a href="">The Summits of Modern Man</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#archives">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">WPI Archives and History</a>
      </h3>
    </div>
    <div id="archives" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=hi">Historical Images of WPI</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#special">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Special Collections and Manuscripts</a>
      </h3>
    </div>
    <div id="special" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="">Foundations of Fire Protection Engineering</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=sq87bv394">Project Boz</a></span></li>
          <li><span class="facet-label"><a href="">Nicholas Nickleby</a></span></li>
          <li><span class="facet-label"><a href="">Mystery of Edwin Drood</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#exhibits">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Exhibits</a>
      </h3>
    </div>
    <div id="exhibits" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="">Washburn Digital Exhibit</a></span></li>
        </ul>
      </div>
    </div>
  </div>
  
</div>