<h2 class="block-heading">Collections</h2>

<%= render 'col_slider' %>

<div id="search-results" class="facets sidenav">

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#undergraduate">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Undergraduate Projects and Research</a>
      </h3>
    </div>
    <div id="undergraduate" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/gps?locale=en">Great Problems Seminar Posters</a></span></li>
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/iqp?locale=en">Interactive Qualifying Projects</a></span></li>
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/mqp?locale=en">Major Qualifying Projects</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#graduate">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Graduate Theses, Dissertations, and Projects</a>
      </h3>
    </div>
    <div id="graduate" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/thesis?locale=en">Masters Theses</a></span></li>
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/masters_report?locale=en">Masters Reports</a></span></li>
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/dissertation?locale=en">PhD Dissertations</a></span></li>
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/phd_report?locale=en">PhD Reports</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#faculty">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Faculty Research and Creative Work</a>
      </h3>
    </div>
    <div id="faculty" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/gpsrs?locale=en">Great Problems Seminar - Research and Scholarship</a></span></li>
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/jq085n82c?locale=en">Open Educational Resources Collection - Research and Scholarship</a></span></li>
          <li><span class="facet-label"><a href="https://digitalcommons.wpi.edu/oa/">Organizational Aesthetics</a></span></li>
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/pblrs?locale=en">Project-Based Learning – Research and Scholarship</a></span></li>
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/b8515q79x?locale=en">The Summits of Modern Man</a></span></li>
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/frs?locale=en">WPI Faculty Research and Scholarship</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#archives">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="https://digital.wpi.edu/collections/special_collection">WPI Archives and History</a>
      </h3>
    </div>
    <div id="archives" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/special_collection">Archives and Special Collections</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/collections/upub">University Publications</a></span></li>
          <li><span class="facet-label sub-sub-collection"><a href="https://digital.wpi.edu/collections/cnews">Campus Newspapers</a></span></li>
          <li><span class="facet-label sub-sub-collection"><a href="https://digital.wpi.edu/collections/cmag">Campus Magazines</a></span></li>
          <li><span class="facet-label sub-sub-collection"><a href="https://digital.wpi.edu/collections/yearbook">Yearbooks</a></span></li>
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/hi?locale=en">Historical Images of WPI</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#special">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Special Collections and Manuscripts</a>
      </h3>
    </div>
    <div id="special" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/p5547v039?locale=en">Foundations of Fire Protection Engineering</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/collections/w0892d411">MS51: Howard G. Freeman Papers</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/collections/3197xp59j">MS54: David A. Lucht Papers </a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/collections/vx021h564">MS55: Duane D. Pearsall Papers</a></span></li>
          <li><span class="facet-label"><a href="https://digital.wpi.edu/collections/sq87bv394?locale=en">Project Boz</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/show/zw12z710n">Oliver Twist (1837-1838)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/show/0c483m04m">Nicholas Nickleby (1838-1839)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/show/rx913s07w">Old Curiosity Shop (1840)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/show/ws859h61c">Barnaby Rudge (1841)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/show/w0892d19h">Dombey and Son (1846-1848)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/show/qz20sv485">Bleak House (1852-1853)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/show/t722hb968">Hard Times (1854)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/show/ns064810n">Little Dorrit (1855-1857)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/show/6d56zx31s">A Tale of Two Cities (1859)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/show/mk61rj956">Great Expectations (1860-1861)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/show/v405sc83t">Our Mutual Friend (1864-1865)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="https://digital.wpi.edu/show/br86b567n">Mystery of Edwin Drood (1870)</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#exhibits">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Exhibits</a>
      </h3>
    </div>
    <div id="exhibits" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="http://theo.wpi.edu/">Theo Brown Diaries</a></span></li>
        </ul>
      </div>
    </div>
  </div>
  
</div>