<h2 class="sr-only">Collections</h2>

<%= render 'col_slider' %>

<div id="search-results" class="facets sidenav">

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#undergraduate">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Undergraduate Projects and Research</a>
      </h3>
    </div>
    <div id="undergraduate" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=gps">Great Problems Seminar Posters</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=iqp">Interactive Qualifying Projects</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=mqp">Major Qualifying Projects</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#graduate">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Graduate Theses, Dissertations, and Projects</a>
      </h3>
    </div>
    <div id="graduate" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=thesis">Masters Theses</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=masters_report">Masters Reports</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=dissertation">PhD Dissertations</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=phd_report">PhD Reports</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#faculty">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Faculty Research and Creative Work</a>
      </h3>
    </div>
    <div id="faculty" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=gpsrs">Great Problems Seminar - Research and Scholarship</a></span></li>
          <li><span class="facet-label"><a href="https://digitalcommons.wpi.edu/oa/">Organizational Aesthetics</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=pblrs">Project-Based Learning – Research and Scholarship</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=b8515q79x">The Summits of Modern Man</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=frs">WPI Faculty Research and Scholarship</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#archives">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">WPI Archives and History</a>
      </h3>
    </div>
    <div id="archives" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=hi">Historical Images of WPI</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#special">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Special Collections and Manuscripts</a>
      </h3>
    </div>
    <div id="special" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=p5547v039">Foundations of Fire Protection Engineering</a></span></li>
          <li><span class="facet-label"><a href="/catalog?f[member_of_collection_ids_ssim][]=sq87bv394">Project Boz</a></span></li>
          <li><span class="facet-label sub-collection"><a href="/show/zw12z710n">Oliver Twist (1837-1838)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="/show/0c483m04m">Nicholas Nickleby (1838-1839)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="/show/rx913s07w">Old Curiosity Shop (1840)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="/show/ws859h61c">Barnaby Rudge (1841)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="/show/w0892d19h">Dombey and Son (1846-1848)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="/show/qz20sv485">Bleak House (1852-1853)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="/show/t722hb968">Hard Times (1854)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="/show/ns064810n">Little Dorrit (1855-1857)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="/show/6d56zx31s">A Tale of Two Cities (1859)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="/show/mk61rj956">Great Expectations (1860-1861)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="/show/v405sc83t">Our Mutual Friend (1864-1865)</a></span></li>
          <li><span class="facet-label sub-collection"><a href="/show/br86b567n">Mystery of Edwin Drood (1870)</a></span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="collapse-toggle panel-heading collapsed" aria-expanded="false" data-toggle="collapse" data-target="#exhibits">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Exhibits</a>
      </h3>
    </div>
    <div id="exhibits" class="panel-collapse facet-content collapse" aria-expanded="false" style="">
      <div class="panel-body">
        <ul class="facet-values list-unstyled">
          <li><span class="facet-label"><a href="http://theo.wpi.edu/">Theo Brown Diaries</a></span></li>
        </ul>
      </div>
    </div>
  </div>
  
</div>