<script>
    $(function () {

        console.log('self-invoked function fired');

        $('.nav-stacked, .returnlink').on('click', '.post', function (e) {
            var data_id = $(this).data('id');
            console.log(data_id);
            e.preventDefault();
            $('html, body').animate({
                scrollTop: $('#' + data_id).offset().top
            }, 'slow');
        });

    });
</script>

<div id="info-top">
  <div class="container">
    <div class="row">
      <nav class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <div class="post" data-id="content-one">
            <h4>Contact Us</h4>
          </div>
          <div class="post" data-id="content-issue">
            <h4>Known Issues and Planned Enhancements</h4>
          </div>
          <div class="post" data-id="content-two">
            <h4>Explore Collections</h4>
          </div>
          <div class="post" data-id="content-three">
            <h4>General Search</h4>
          </div>
          <div class="post" data-id="content-four">
            <h4>Filtering Your Results</h4>
          </div>
          <div class="post" data-id="content-five">
            <h4>Reorganizing Search Results</h4>
          </div>
          <div class="post" data-id="content-six">
            <h4>How to Refine a Search</h4>
          </div>
        </ul>
      </nav>
      <div class="col-sm-9">
        <div class="information" id="content-one">
          <h1>Contact Us</h1>
          <p>If you need to report a problem using Digital WPI, or would like to request assistance or share feedback, please email us at <%= mail_to "digitalwpi@wpi.edu" %></p>
        </div>
        <div class="returnlink" style="text-align:right;padding:15px;padding-bottom:0px; margin-top:40px;margin-bottom:40px;border-bottom:2px solid rgb(172, 42, 55);">
          <span class="post" data-id="info-top">Return to Top</span>
        </div>
        <div class="information" id="content-issue">
          <h1>Known Issues and Planned Enhancements </h1>
          <p>Digital WPI is continuously undergoing review and enhancements as we work to share the diverse and rich resources that highlight our innovative pedagogy and cultural heritage. Below are recognized issues and planned enhancements. To report an issue, please contact us at <a href="mailto:digitalwpi@wpi.edu">digitalwpi@wpi.edu</a></p>
          <p><strong>Known Issues</strong></p>
          <ul>
            <li><strong>Image download options</strong> - Users are reporting issues with the Download options from the image viewer, notably "Current view 640x480px (jpg)" where the images downloaded do not match the user's desired view. Other image download options operate as intended.</li>
            <li><strong>Slow loading times of images</strong> - Some images are taking more time to load than anticipated.</li>
            <li><strong>Limits on available search facets</strong> - Currently only one search limit facet from each category can be applied.</li>
            <li><strong>Analytics reports</strong> - Owing to a limitation within the Samvera Community, Digital WPI is unable to provide full analytics reports for repository items. View and Download statistics have been archived with the intention of including those figures when the issue is resolved.</li>
          </ul>
          <p><strong>Planned Enhancements</strong></p>
          <ul>
            <li><strong>Access speed</strong> - Improvements to the system hardware to increase access speed for users.</li>
            <li><strong>User reports</strong> - New feature giving users the ability to download search results.</li>
            <li><strong>Upcoming Exhibits</strong> - New <em>exhibits</em> featuring the history of WPI, the evolution of the Interactive Media & Game Development department, and the life of Robert Goddard.</li>
          </ul>
        </div>
        <div class="returnlink" style="text-align:right;padding:15px;padding-bottom:0px; margin-top:40px;margin-bottom:40px;border-bottom:2px solid rgb(172, 42, 55);">
          <span class="post" data-id="info-top">Return to Top</span>
        </div>
        <div class="information" id="content-two">
          <h1>Explore Collections</h1>
          <p><strong>Browse by Collection</strong></p>
          <p>From the navigation menu under "Browse", you can choose to browse collections by selecting the general category then name of the collection. The facets on the left side of the page can be selected to limit/filter the results.</p>
          <p><strong>Browse by Project Center</strong></p>
          <p>From the navigation menu under "Browse", you can choose to browse all Project Centers by selecting the general geographic area then name of the project center. This is a list of all official WPI Project Centers and each link will take you to the works associated with the selected center. The facets on the left side of the page can be selected to limit/filter the results. </p>
        </div>
        <div class="returnlink" style="text-align:right;padding:15px;padding-bottom:0px; margin-top:40px;margin-bottom:40px;border-bottom:2px solid rgb(172, 42, 55);">
          <span class="post" data-id="info-top">Return to Top</span>
        </div>
        <div class="information" id="content-three">
          <h1>General Search</h1>
          <p>The persistent search box (located on every Digital WPI page) can be used to search all records in Digital WPI. To search for content enter keywords, phrases, authors, and other terms in the search box, and then click the magnifying glass icon next to the box or click the return/enter key.  Searching is not case sensitive. For example, searching for "washington monument" or "Washington Monument" will yield the same results. </p>
          <p>A result will be returned when your search terms match text stored in that record's descriptive metadata fields (e.g. title, names, subjects, abstracts/descriptions) or, in the case of text documents (e.g. IQP report, MQP report, thesis, dissertation, monograph/book, etc.), in the full text of the resource/document as well. </p>
        </div>
        <div class="returnlink" style="text-align:right;padding:15px;padding-bottom:0px; margin-top:40px;margin-bottom:40px;border-bottom:2px solid rgb(172, 42, 55);">
          <span class="post" data-id="info-top">Return to Top</span>
        </div>
        <div class="information" id="content-four">
          <h1>Filtering Your Results</h1>
          <p>After doing a keyword search, use the facets/limiters on the left side of the page to limit/filter your search. You can limit a search, for example, to content published in a specific year or range of years, authored/created by specific people, on particular subjects, in a particular collection (e.g. IQPs, Historical Images, etc.) and so on.  You may remove limiters/filters by clicking on the "x" to the right of the filter term at the top of the results list.  <strong>Note</strong> that not all works use all of the filters/facets. </p>
        </div>
        <div class="returnlink" style="text-align:right;padding:15px;padding-bottom:0px; margin-top:40px;margin-bottom:40px;border-bottom:2px solid rgb(172, 42, 55);">
          <span class="post" data-id="info-top">Return to Top</span>
        </div>
        <div class="information" id="content-five">
          <h1>Reorganizing Search Results </h1>
          <p><strong>Sorting Results</strong></p>
          <p>You may also customize how your search results are sorted by selecting from the <strong> Sort By drop-down menu:</strong></p>
          <ul>
            <li><strong>Relevance</strong> - Sorted by weighing searched keywords against where those keywords were found in the file's metadata (title, description, etc.)  </li>
            <li><strong>Date uploaded</strong> - Sorted by the date (most recent first, or least recent first) the record/file was uploaded to Digital WPI </li>
          </ul>
          <p><strong>Number of Results Displayed</strong></p>
          <p>You can view 10, 20, 50, or 100 items per page by choosing from the drop down menu at the top right of the search results. </p>
        </div>
        <div class="returnlink" style="text-align:right;padding:15px;padding-bottom:0px; margin-top:40px;margin-bottom:40px;border-bottom:2px solid rgb(172, 42, 55);">
          <span class="post" data-id="info-top">Return to Top</span>
        </div>
        <div class="information" id="content-six">
          <h1>How to Refine a Search</h1>
          <p><strong>Boolean Operators</strong></p>
          <p>BOOLEAN SEARCH, using AND, OR and NOT operators will be available soon! </p>
          <p><strong>+ or - </strong></p>
          <ul>
            <li>+ : The "+" (or required) operator dictates that the term after the + symbol MUST exist somewhere in the document.  To search for documents that must contain "watershed" and may contain "planning" use the query: +watershed planning </li>
            <li>-: The "-" (or prohibit) operator excludes documents which contain the term after the - symbol.  To search for documents which contain "Global" but not "warming" use the query: global-warming </li>
          </ul>
          <p><strong>Quotation Marks</strong></p>
          <p>Use quotation marks around a phrase to return results with that exact phrase. For example, a search for greenhouse gas will return results with the terms greenhouse and gas separately, in addition to items where they appear together. By searching for "greenhouse gas" you will only get results containing that exact phrase.
          </p>
        </div>
        <div class="returnlink" style="text-align:right;padding:15px;padding-bottom:0px; margin-top:40px;margin-bottom:40px;border-bottom:2px solid rgb(172, 42, 55);">
          <span class="post" data-id="info-top">Return to Top</span>
        </div>
        <div class="information" id="content-seven">
          <h1>Recommended File Formats</h1>
          <p>The following file formats are recommended for submission to Digital WPI. While many electronic file formats are accepted in the repository, these recommended formats have a higher probability of long-term preservation. For more information on recommended formats, please visit the Library of Congress' "Recommended Formats Statement" document available at <%= link_to 'https://www.loc.gov/preservation/resources/rfs/RFS%202023-2024.pdf', 'https://www.loc.gov/preservation/resources/rfs/RFS%202023-2024.pdf', target: :blank %>.</p>
          <div class="file-table">
            <div class="file-table-body">
            <div class="file-table-row">
              <div class="file-table-type-cell">Content Type</div>
              <div class="file-table-values-cell">Recommended File Formats</div>
            </div>
            <div class="file-table-row">
              <div class="file-table-type-cell">Textual Works</div>
              <div class="file-table-values-cell">
                <ul>
                  <li>XML-based markup formats, EPUB3-compliant, BITS-compliant</li>
                  <li>PDF, PDF/UA, PDF/A</li>
                </ul>
              </div>
            </div>
            <div class="file-table-row">
              <div class="file-table-type-cell">Still Image</div>
              <div class="file-table-values-cell">
                <ul>
                  <li>TIFF (.tif)</li>
                  <li>JPEG2000 (.jp2)</li>
                  <li>PNG (.png)</li>
                  <li>JPEG/JFIF (.jpg)</li>
                  <li>BMP (.bmp)</li>
                </ul>
                <ul>
                  <li>Scalable vector graphics (.svg)</li>
                </ul>
              </div>
            </div>
            <div class="file-table-row">
              <div class="file-table-type-cell">Moving Image</div>
              <div class="file-table-values-cell">
                <ul>
                  <li>Interoperable Master Format (IMF)</li>
                  <li>FFV1, Version 3 only, Matroska (.mkv) container</li>
                  <li>ProRes, QuickTime (.mov) container, 4444(XQ), 4444 or 422HQ codecs</li>
                  <li>MPEG-2, compliant with ISO/IEC 13818</li>
                  <li>XDCAM, MXF, HD422, SHD422, HD codecs</li>
                </ul>
              </div>
            </div>
            <div class="file-table-row">
              <div class="file-table-type-cell">Audio</div>
              <div class="file-table-values-cell">
                <ul>
                  <li>PCM WAVE, 44.1 kHz / 16 bit or higher (.PCM, .WAV, .AIFF)</li>
                  <li>DSD</li>
                </ul>
              </div>
            </div>
            <div class="file-table-row">
              <div class="file-table-type-cell">Datasets</div>
              <div class="file-table-values-cell">
                <ul>
                  <li>Line-oriented, e.g. TSV, CSV, fixed-width</li>
                  <li>Platform-independent open formats, .db, .db3, .sqlite, .sqlite3</li>
                  <li>Any proprietary format that is de facto standard for profession or supported by multiple tools, e.g. Excel .xls or .xlsx, Shapefile</li>
                </ul>
              </div>
            </div>
            <div class="file-table-row">
              <div class="file-table-type-cell">Geographic Information System (GIS)</div>
              <div class="file-table-values-cell">
                <ul>
                  <li>Shapefile</li>
                  <li>Esri File Geodatabase</li>
                  <li>OGC GeoPackage</li>
                  <li>GeoJSON</li>
                </ul>
              </div>
            </div>
            <div class="file-table-row">
              <div class="file-table-type-cell">2D and 3D Computer Aided Design</div>
              <div class="file-table-values-cell">
                <ul>
                  <li>TIFF (.tif)</li>
                  <li>JPEG2000 (.jp2)</li>
                  <li>PNG (.png)</li>
                  <li>JPEG/JFIF (.jpg)</li>
                  <li>Digital Negative DNG (.dng)</li>
                  <li>BMP (.bmp)</li>
                  <li>GIF (.gif)</li>
                </ul>
                <ul>
                  <li>Scalable vector graphics (.svg)</li>
                  <li>AutoCAD Drawing Interchange Format (.dxf)</li>
                  <li>Shapefile</li>
                </ul>
              </div>
            </div>
            <div class="file-table-row">
              <div class="file-table-type-cell">Software and Video Games</div>
              <div class="file-table-values-cell">
                <ul>
                  <li>Uncompiled source code</li>
                  <li>Gold master build</li>
                  <li>Distribution file, e.g. .ipa [MAC iOS], .apk [Android], .exe [Windows]</li>
                </ul>
              </div>
            </div>
            <div class="file-table-row">
              <div class="file-table-type-cell">Archive File Format</div>
              <div class="file-table-values-cell">
                <ul>
                  <li>ZIP (.zip)</li>
                  <li>Tape Archive (.tar)</li>
                </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="returnlink" style="text-align:right;padding:15px;padding-bottom:0px; margin-top:40px;margin-bottom:40px;border-bottom:2px solid rgb(172, 42, 55);">
          <span class="post" data-id="info-top">Return to Top</span>
        </div>
      </div> <!-- End of content section -->


    </div>
  </div>
</div>
