$light-gray: lightgray;

div.wpi-citation-modal {
  h4 {
    text-align: left;
  }

  .cite {
    margin: 0 15px;
    text-align: left;
  }

  ul {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $light-gray;
  }
}

.creator-affiliates {
  display: inline-block;
}

li.attribute-editorial_note {
  .each_metadata::after {
    content: '';
    display: block;
    width: 50%;
    border-top: 1px solid $light-gray;
  }
}

.advanced-search-display-field {
  display: block !important;
}

body.dashboard {
  background-color:#333;
}

.shareable-url-section {
  display: grid;

  .shareable-url {
    width: 100%;
    background-color: #d3d3d3;
    padding: 10px;
    word-wrap:break-word;
  }

  .bookmark-action-tools {
    margin: 20px 0px;
    border-bottom: 1px solid #AC2B37;
    padding-bottom: 5px;
  }
}

.create-bookmark-category {
  display: inline-block;
}
