$light-gray: lightgray;

div.wpi-citation-modal {
  h4 {
    text-align: left;
  }

  .cite {
    margin: 0 15px;
    text-align: left;
  }

  ul {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $light-gray;
  }
}

.creator-affiliates {
  display: inline-block;
}

li.attribute-editorial_note {
  .each_metadata::after {
    content: '';
    display: block;
    width: 50%;
    border-top: 1px solid $light-gray;
  }
}

.advanced-search-display-field {
  display: block !important;
}

body.dashboard {
  background-color:#333;
}

.bookmark-category {
  margin-bottom: 10px;
  border-bottom: 1px solid #AC2B37;
  padding-bottom: 10px;
}

.category-actions-section, .shareable-url-section {
  margin-top: 10px;
}

#shareable-url {
  width: 100%;
  margin-bottom: 10px;
  word-wrap:break-word;
}

.select-bookmark-category, .create-bookmark-category {
  display: inline-block;
  margin-bottom: 10px;
}

.stats-filter {
  display: flex;

  .dropdown {
    margin-right: 20px;
  }

  .filter-form {
    display: flex;
    gap: 20px;
    align-items: center;
    .clear-btn {
      background-color: #efefef;
      color: #000;
    }
  }
}

.work-reports-filters {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
}