$light-gray: lightgray;

div.wpi-citation-modal {
  h4 {
    text-align: left;
  }

  .cite {
    margin: 0 15px;
    text-align: left;
  }

  ul {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid $light-gray;
  }
}

.creator-affiliates {
  display: inline-block;
}

li.attribute-editorial_note {
  .each_metadata::after {
    content: '';
    display: block;
    width: 50%;
    border-top: 1px solid $light-gray;
  }
}

.advanced-search-display-field {
  display: block !important;
}